# Django #
*.log
*.pot
*.pyc
__pycache__
*.sqlite3
*/uploads/*

# Pipenv #
Pipfile.lock
.env

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
up_features_list.docx
