{% extends "base.html" %}
{% block title%}<h2>Accueil</h2>{% endblock title%}

{% block content %}
<h3>Vie de l'alliance</h3>
<table>
    <tr>
        <th></th>
        <th>Nom</th>
        <th>Description</th>
        <th>Cree par</th>
    </tr>
    {% for actu in actus  %}
    <tr> 
        <td><img src="{{ actu.image.url }}" alt="{{ actu.title }}" width="100" height="100"></td>
        <td>{{ actu.title }}</td>
        <td>{{ actu.description }}</td>
        <td>{{ actu.created_by }}</td>
    </tr>
    {% endfor %}
</table>


<h3>Evenements</h3>
<table>
    <tr>
        <th>Nom</th>
    </tr>
    {% for event in events  %}
    <tr> 
        <td>{{ event.name }}</td>
    </tr>
    {% endfor %}
</table>

<h3>Groups</h3>
<table>
    <tr>
        <th>Nom</th>
    </tr>
    {% for group in groups  %}
    <tr> 
        <td>{{ group.name }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}