@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  font-family: 'Saira', sans-serif;
}

#app {
  font-family: 'Saira', sans-serif;
}

:root {
  --haev_blue: #2D72A4;
  --haev_dark: #323436;
  --haev_orange: #F77C04;
  --haev_white: #E4E4E4;

  /* Dark Theme */
  --haev_text_mode_dark: var(--haev_white);
  --haev_icon_mode_dark: var(--haev_white);
  --haev_bg_mode_dark: var(--haev_dark);

  /* Light Theme */
  --haev_text_mode_light: var(--haev_dark);
  --haev_icon_mode_light: var(--haev_dark);
  --haev_bg_mode_light: var(--haev_white);

  --bg_app: var(--haev_bg_mode_dark);
  --text_app: var(--haev_text_mode_dark);
  --icon_app: var( --haev_icon_mode_dark);
}

.theme-mode {
  background-color: var(--bg_app);
  color: var(--text_app);
}

@tailwind base;
@tailwind components;
@tailwind utilities;