@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  font-family: 'Saira', sans-serif;
}

#app {
  font-family: 'Saira', sans-serif;
}

.haev-white {
  color: var(--haev-white, #E4E4E4) ;
  background-color: var(--haev-white, #E4E4E4);
}

.haev-orange {
  color: #F77C04;
  background-color: #F77C04;
}

@tailwind base;
@tailwind components;
@tailwind utilities;