<h1>Event Management</h1>

{% include "navbar.html" %}

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Emplacement</th>
        <th>Cree par</th>
        <th>Actions</th>
    </tr>
    {% for event in object_list  %}
    <tr> 
        <td>{{ event.name }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.date }}</td>
        <td>{{ event.emplacement }}</td>
        <td>{{ event.created_by.username }}</td>
        <td>
            <a class="btn btn-primary" href="{% url 'delete_event' id=event.id%}">Delete</a>
        </td>
    {% endfor %}
</table>