{% extends "base.html" %}
{% block title %}<h2>Alliance</h2>{% endblock title%}

{% block content %}
<table>
    <tr>
        <th>Logo</th>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
    </tr>
    {% for group in object_list  %}
    <tr> 
        <td><img src="{{ group.logo.url }}" width="50" height="50" /></td>
        <td>{{ group.name }}</td>
        <td>{{ group.description }}</td>
        <td>{{ group.get_type_display }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}