<h1>Alliance</h1>

{% include "navbar.html" %}

<table>
    <tr>
        <th>Logo</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Approval</th>
    </tr>
    {% for group in object_list  %}
    <tr> 
        <td><img src="{{ group.logo.url }}" width="50" height="50" /></td>
        <td>{{ group.name }}</td>
        <td>{{ group.description }}</td>
        <td>{{ group.status }}</td>
        <td>{{ group.approved }}</td>
    </tr>
    {% endfor %}
</table>